
	<header id="header">
	    
        <h1>The North Shore</h1>
        <p>"Walking along the north shore, at the edge of Reykjavik, I often stop and stare at the point where the ocean and the sky meet. It creates this unexplainable beauty with the ever-changing pattern of clouds and waves, and the majestic mountains between them. Gazing into the horizon, sometimes it’s easy to forget the city is behind me."</p>

        <iframe width="100%" height="166" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/187947072&color=%235ebabe&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe><div style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;"><a href="https://soundcloud.com/astrangelyisolatedplace" title="astrangelyisolatedplace" target="_blank" style="color: #cccccc; text-decoration: none;">astrangelyisolatedplace</a> · <a href="https://soundcloud.com/astrangelyisolatedplace/10-yagya-the-north-shore" title="Yagya - The North Shore" target="_blank" style="color: #cccccc; text-decoration: none;">Yagya - The North Shore</a></div>
			
        <%= link_to 'Back to gallery', :back %>
			
    </header>

					

